@font-face{
  font-family: 'AtlasGrotesk-Light';
  src: url('~/assets/AtlasGrotesk-Light.otf');
}

@font-face{
  font-family: 'AtlasGrotesk-Regular';
  src: url('~/assets/AtlasGrotesk-Regular.otf');
}

@font-face{
  font-family: 'AtlasGrotesk-Thin';
  src: url('~/assets/AtlasGrotesk-Thin.otf');
}
